/* UI size */
$header-height: 50px;

/* Font size */
$body-size:	14px;
$mobile-body-size:	18px;
$label-size: 1.14em;
$title-size: 1.85em;
$big-price-size: 3em;
$feature-size: 1.14em;


/* Colors */
$brand-color: #FC5B1F;
$background-color: #F6F6F6;
$gray: #555;
$light-gray: #AAA;
$link-color: black;
$section-line-color: #A9A9A9;
$line-v-color: #C0C0C0;
$line-color: #E5E5E5;

