@import "style/variables.scss";
@import "style/helpers.scss";

#root,
.App,
.container {
  height: 100%;
}

.container {
  padding-top: $header-height;
  margin: 0 auto;

  @include breakpoint(tablet) {
    width: 600px;
  }
  @include breakpoint(tablet-wide) {
    width: 1024px;
  }
}
